* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#nick {
  position: absolute;
  display: flex;
  top: 50px;
  right: 100px;
}

#nick input {
  width: 200px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  text-align: center;
}

#nick button {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  border-radius: 20px;
  border: none;
  text-align: center;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#message input {
  width: 500px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  text-align: center;
}

#message button {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
